* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.wholeContainer {
  max-width: 80vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  * {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 1.4rem;
  }
}