

.choiceBar {
    display: flex;
    width: auto;
    min-height: 75px;
    height: max-content;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2c2e31;
    border-radius: 15px;
    padding-right: 15px;
    overflow: hidden;
    transition: 0.25s;
}

.fadeIn{
    background-color: inherit;
    display: inherit;
    min-height: inherit;
    height: max-content;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2c2e31;
    border-radius: 15px;
    padding-right: 7px;
    overflow: hidden;
    transition: 0.25s;
    animation: fadeInAnimation ease-in-out 0.5s;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}


button{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    background-color: #2c2e31;
    border: none;
    transition: 0.5s;

}

button:hover{
    background-color: white;
    color:green;
    cursor: pointer;
    transition: 0.5s;
}

.spacer {
    background: black;
    border-radius: calc(0.5rem/2);
    height: 60%;
    /* margin: 0.5rem 0; */
    margin-left: 0.2rem;
    transition: .25s;
    width: 0.25rem;
}