.chartContainer {
    width: 100%;
    height: max-content;
    padding-top: 100px;
}

/* .chart {
    background-color: #373639;
} */

/* 
canvas{

    width:1200px !important;
    height:450px !important;
  
  } */