.navContainer {
  width: 100%;
  height: 150px;
  background-color: rgb(26, 26, 26);
  padding-top: 20px;
  color: white;
  display: flex;
  /* justify-content:space-around; */
  gap: 20px;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.logIn {
  height: 20px;
  width: 40px;
  justify-self: flex-start;
  flex-grow: 5;
  background-color: rgb(26, 26, 26);
}

.raceButton {
  align-self: flex-start;
  flex-grow: 5;
  background-color: rgb(26, 26, 26);
}

.buttons {
  margin-left: auto;
}

.logIn:hover {
  color: green;
  background-color: rgb(26, 26, 26);
}

.raceButton:hover {
  background-color: rgb(26, 26, 26);
}
.profile:hover {
  background-color: rgb(26, 26, 26);
}

.profile {
  position: absolute;
  background-color: rgb(26, 26, 26);
  left: 84%;
  top: 34.6px;
}

.wrapper {
  height: 48%;
  display: grid;
  place-items: center;
  margin-left: 7%;
}

.tagline {
  width: 21.5ch;
  animation: typing 10s steps(22), blink2 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 20px;
}

@keyframes blink2 {
  50% {
    border-color: transparent;
  }
}
