body{
    background-color: #373639;
}
.Main-container{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit ;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(26,26,26);
}



.typing-container{
    padding: 5px;
    padding-left: 10px;
    width: 100%;
    min-height: 156.773px;
    height: max-content;
    overflow:hidden;
    border: 1px black;
    border-radius: 2px;
    z-index: 999;
    background-color: #373639;
    margin-top: 30px;
    margin-bottom: 20px;
    align-self: center;
    justify-self: center;
 
  
}

span{
    background-color: #373639 ;
}

p{
    background-color: #373639;
    color: white;

}

.inputBar{
    color: white;
    margin-top: 10px;
    width: 80%;
    border-color: white;
}

.correct{
    color:green
}

.incorrect {
    color:red
}

.neutral {
    color: rgb(169, 169, 169);
}
