.navContainer{
    width: 100%;
    height: 150px;
    background-color: rgb(26,26,26);
    padding-top: 20px;
    color: white;
    display: flex;
    /* justify-content:space-around; */
    gap: 20px;
}

.link{
    color: #FFFFFF;
    text-decoration: none;
}

.logIn{
    height: 20px;
    width: 40px;
    justify-self: flex-start;
    flex-grow: 5;
    background-color: rgb(26,26,26);
}

.raceButton {
    align-self: flex-start;
    flex-grow: 5;
    background-color: rgb(26,26,26);
}

.buttons{
    margin-left: auto;
}

.logIn:hover {
    color: green;
    background-color: rgb(26,26,26);
}

.raceButton:hover {
    background-color: rgb(26,26,26);
}

