.progress {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(208, 139, 1, 0.742);
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.playerName {
  background-color: inherit;
  font-size: 40px;
}

.bodyProgress {
  width: 100%;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px #e76f51;
  display: flex;
  align-items: center;
  gap: 4px;
}

.currentProgress {
  height: 20px;
  background: rgba(208, 139, 1, 0.742);
  box-shadow: 1px 10px 15px -7px rgba(194, 132, 8, 0.742);
  border-radius: 50px;
  transition: all 0.5s;
}
