.choiceContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.joinRoom{
    width: 50%;
    height: 100%;

}

.raceSpacer{
    height: 100%;
    background-color: rgb(190, 190, 190)
}

.roomContainer{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inviteFriend{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

