.progress{
    width: 100%;
    height: 50%;
    position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
color: orange;
font-size: 35px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 20px;
}

.imbored{
    background-color: inherit;
    font-size: 40px;
}

.bodyProgress{
    
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
  
}

.currentProgress{
    height: 20px;
  background: #1da1f2;
  box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
  border-radius: 50px;
  transition: all 0.5s;
}

